<ng-container *ngIf="(notification$ | async) as notification">
    <main [ngSwitch]="notification.event">
        <article *ngSwitchCase="events.drawFourCards">
            <mat-icon class="card">library_add</mat-icon>
            <mat-icon class="card">library_add</mat-icon>
            <mat-icon class="card">library_add</mat-icon>
            <mat-icon class="card">library_add</mat-icon>
            <div> +4 Cards</div>
        </article>
        <article *ngSwitchCase="events.drawTwoCards">
            <mat-icon class="card">library_add</mat-icon>
            <mat-icon class="card">library_add</mat-icon>
            <div> +2 Cards </div>
        </article>
        <article *ngSwitchCase="events.playerRemoved">
            <mat-icon class="negative">person_remove</mat-icon>
            <div>
                {{ notification.additional?.playerWhoRemovedName }} removed {{ notification.additional?.playerRemovedName }}
            </div>
        </article>
        <article *ngSwitchCase="events.roomLeft">
            <mat-icon class="positive">logout</mat-icon>
            <div>
                {{ notification.additional?.playerLeftName }} left room
            </div>
        </article>
        <article *ngSwitchCase="events.failed">
            <mat-icon class="negative">error</mat-icon>
            <div>Something went wrong</div>
        </article>
    </main>
</ng-container>
