<ng-container *ngIf="(players$ | async) as players; else empty">
    <main #main *ngIf="players.length > 0; else empty">
        <section class="players" [@playerRoom]="{value: players.length}">
            <div *ngFor="let player of players; let i = index;">
                <div class="left"> {{ i + 1 }}. {{ player.name }} </div>
                <div class="right">
                    <mat-icon>delete</mat-icon>
                </div>
            </div>
        </section>
        <section class="message" [ngClass]="{'game-started': isGameStarted}"> {{ message }} </section>
    </main>
</ng-container>
<ng-template #empty>
    <main class="empty">
        {{ message }}
    </main>
</ng-template>