<main #main>
    <section class="players" [@playerRoom]="{value: players.length}">
        <div *ngFor="let player of players; let i = index; trackBy: trackById">
            <div class="left">
                {{ i + 1 }}. {{ player.name }}
                <span class="host" *ngIf="isHost(player)">(Host)</span>
            </div>
            <div class="right" *ngIf="!isHost(player)" (click)="removePlayer(player)">
                <mat-icon>delete</mat-icon>
            </div>
        </div>
    </section>
    <section class="message" [ngClass]="{'game-started': isGameStarted}"> {{ message }} </section>
</main>