<main [ngSwitch]="data.event">
    <article *ngSwitchCase="events.roomCreated">
        <mat-icon class="positive">location_on</mat-icon>
        <div>Room created</div>
    </article>
    <article *ngSwitchCase="events.roomDeleted">
        <mat-icon class="negative">location_off</mat-icon>
        <div>Room deleted</div>
    </article>
    <article *ngSwitchCase="events.roomDoesNotExists">
        <mat-icon class="negative">location_off</mat-icon>
        <div>Room no longer exists</div>
    </article>
    <article *ngSwitchCase="events.roomJoined">
        <mat-icon class="positive">pin_drop</mat-icon>
        <div>Room joined</div>
    </article>
    <article *ngSwitchCase="events.roomLeft">
        <mat-icon class="positive">logout</mat-icon>
        <div>Room left</div>
    </article>
    <article *ngSwitchCase="events.playerRemoved">
        <mat-icon class="negative">logout</mat-icon>
        <div>{{ data.additional?.playerWhoRemovedName }} removed {{ data.additional?.playerRemovedName }}</div>
    </article>
    <article *ngSwitchCase="events.playerRemovedByMe">
        <mat-icon class="negative">logout</mat-icon>
        <div>You removed {{ data.additional?.playerRemovedName }}</div>
    </article>
    <article *ngSwitchCase="events.playerRemovedMe">
        <mat-icon class="negative">logout</mat-icon>
        <div>{{ data.additional?.playerWhoRemovedName }} removed you</div>
    </article>
    <article *ngSwitchCase="events.networkDisconnected">
        <mat-icon class="negative">wifi_off</mat-icon>
        <div>Network disconnected</div>
    </article>
    <article *ngSwitchCase="events.networkReconnected">
        <mat-icon class="positive">wifi</mat-icon>
        <div>You're back online</div>
    </article>
    <article *ngSwitchCase="events.failed">
        <mat-icon class="negative">error</mat-icon>
        <div>Something went wrong</div>
    </article>
</main>