<main [ngSwitch]="data.event">
    <article *ngSwitchCase="events.roomCreated">
        <mat-icon class="positive">location_on</mat-icon>
        <div>Room created</div>
    </article>
    <article *ngSwitchCase="events.roomDeleted">
        <mat-icon class="negative">location_off</mat-icon>
        <div>Room deleted</div>
    </article>
    <article *ngSwitchCase="events.roomJoined">
        <mat-icon class="positive">pin_drop</mat-icon>
        <div>Room joined</div>
    </article>
    <article *ngSwitchCase="events.failed">
        <mat-icon class="negative">error</mat-icon>
        <div>Something went wrong</div>
    </article>
</main>