main {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    // background-color: red;

    article {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        // background-color: green;

        font-size: 0.9rem;
        font-family: 'Roboto', 'Poppins', monospace;
        font-weight: 500;
        color: black;

        mat-icon {
            transform: scale(1);

            &.positive {
                color: rgb(0, 0, 145);
            }

            &.negative {
                color: rgb(209, 2, 2);
            }

            &.card {
                color: #0000c7;
                background-image: -webkit-linear-gradient(45deg, #0000ad 0%, #00bb10 40%, #fd0000 60%, #ffff19 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        div {
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    }
}