<main>
    <div class="uno">
        <img src="./../../assets/images/uno-logo.svg" />
    </div>
    <div class="field">
        <div class="flex-field">
            <input [ngClass]="{ 'shrink-width': !isInvalid }"
                type="text"
                autofocus
                placeholder="Hi Buddy. Your name?"
                maxlength="20"
                [formControl]="playerNameControl"
                (keydown.enter)="goToLobby()">
            <div *ngIf="isDirty && isInvalid" class="error">
                {{ errorMessage }}
            </div>
        </div>
        <mat-icon 
            [@enterButton]="!isInvalid"
            *ngIf="!isInvalid" 
            (click)="goToLobby()">
            play_arrow
        </mat-icon>
    </div>
</main>