<div class="dashboard" id="dashboard">
    <button 
      label="Discard First Card" 
      (click)="discardDrawerDeckCard()" 
      style="width: 150px; height: 30px">
      Discard First Card
    </button>
    <div class="draw-discard-deck">
      <div class="draw-discard-deck-container">
        <div class="drawer-deck" id="drawer-deck" (click)="addCardToFrontPlayer()">
          <div
            [@drawerDeckCardActivity]="{
              value: isDrawerDeckCardRevealed,
              params: { xDiscardPosition: destinationOfDiscardPileXPositionFromDrawerDeck() }
            }"
            class="uno-card">
            <div card class="uno-card-container"></div>
          </div>
        </div>
        <div class="discard-pile" id="discard-pile"></div>
      </div>
    </div>

    <!-- front-player -->
    <div class="front-opponent-cards-tray" [ngClass]="{ 'cardsTrayDisabled': !isCardsTrayEnabled }">
      <ng-container *ngIf="cards$ | async as freshCards">
        <div class="front-opponent-cards-tray-container"
        [@placeOpponentCards]="{value: freshCards.length}">
          <div
            class="uno-card opponent-uno-card"
            id="front-player-uno-card-{{i}}"
            *ngFor="let card of opponentCards; let i = index"
            [@frontPlayerCardActivity]="{
              value: card.state,
              params: {
                xDiscardPosition: destinationOfFrontPlayerDiscardPileXPosition(i),
                yDiscardPosition: destinationOfFrontPlayerDiscardPileYPosition(i),
                xOriginPosition: originOfFrontPlayerCardXPosition(i),
                yOriginPosition: originOfFrontPlayerCardYPosition()
              }
            }"
            (click)="frontPlayerCardClicked(i)">
            <div card cardType="opponent" class="uno-card-container"></div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="player-cards-tray" [ngClass]="{ 'cardsTrayDisabled': !isCardsTrayEnabled }">
      <ng-container *ngIf="cards$ | async as freshCards">
        <div
          [@revealCards]="{value: freshCards.length}"
          (@revealCards.start)="toggleCardsTray(false)"
          (@revealCards.done)="toggleCardsTray(true)"
          class="player-cards-tray-container">
          <div
            class="uno-card"
            id="uno-card-{{i}}"
            *ngFor="let card of freshCards; let i = index"
            [@cardActivity]="{
              value: card.state,
              params: { 
                xDiscardPosition: destinationOfDiscardPileXPosition(i),
                yDiscardPosition: -destinationOfDiscardPileYPosition(i),
                xOriginPosition: originOfCardXPosition(i),
                yOriginPosition: -originOfCardYPosition()
              }
            }"
            (mouseenter)="cardHovering(i)"
            (mouseleave)="cardHovered(i)"
            (@cardActivity.start)="disableCardsTrayTemporarily($event)"
            (click)="cardClicked(i)">
            <div card class="uno-card-container"></div>
          </div>
        </div>
      </ng-container>
    </div>
</div>