<main>
    <article *ngIf="!isRoomDeleted && isRoomAvailable else error">
        <section class="header">
            <div class="name">
                {{ room.name }}
            </div>
            <div class="status">
                {{ (room.status == roomStatuses.created) ? 'Room Created' : 'Room Joined' }}
            </div>
        </section>
        <section class="body">
            <app-players-list 
                [players$]="otherPlayers$"
                [isGameStarted]="room.isGameStarted">
            </app-players-list>
        </section>
        <section class="footer">
            <div class="delete-room" (click)="deleteRoom()">Delete Room</div>
            <div class="leave-room" (click)="leaveRoom()">Leave Room</div>
            <div class="start-game" (click)="invokeAction()"> {{ action }} </div>
        </section>
    </article>
    <ng-template #error>
        <div class="error"> {{ errorMessage }} </div>
    </ng-template>
</main>