<main *ngIf="(room$ | async) as room else empty">
    <article>
        <section class="header">
            <div class="name">
                {{ room.name }}
            </div>
            <div class="status">
                {{ (room.status == roomStatusType.created) ? 'Room Created' : 'Room Joined' }}
            </div>
        </section>
        <section class="body">
            <app-players-list 
                [players]="otherPlayers"
                [createdBy]="room.createdBy"
                [isGameStarted]="room.isGameStarted">
            </app-players-list>
        </section>
        <section class="footer">
            <div
                class="delete-room"
                *ngIf="isRoomCreatedByMe"
                (click)="deleteRoom()">
                Delete Room
            </div>
            <div
                class="leave-room"
                *ngIf="!isRoomCreatedByMe"
                (click)="leaveRoom()">
                Leave Room
            </div>
            <div
                class="start-game"
                [class.disable]="isJoinAndStartGameDisabled"
                (click)="!isJoinAndStartGameDisabled ? invokeAction() : null">
                {{ action }}
            </div>
        </section>
    </article>
</main>
<ng-template #empty>
    <main>
        <div class="error"> Create or join a room to play. </div>
    </main>
</ng-template>