.dashboard {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(78, 78, 78);
}

.player-cards-tray {
    position: absolute;
    bottom: 4vh;
    left: 13vw;
    right: 13vw;
    height: 9rem;
    min-height: 100px;
    max-height: 300px;
    background-color: yellow;
    padding: 0.5rem;

    .player-cards-tray-container {
        width: 100%;
        height: 100%;
        display:inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    
        background-color: aqua;
    }
}

.draw-discard-deck {
    position: absolute;
    top: 35vh;
    right: calc(50% - width);
    width: 26vw;
    min-width: 200px;
    max-width: 300px;
    height: 8rem;
    min-height: 100px;
    max-height: 300px;
    background-color: rgb(12, 110, 110);
    padding: 0.5rem;

    .draw-discard-deck-container {
        width: 100%;
        height: 100%;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    
        background-color: aqua;
    
        .drawer-deck {
            height: 6rem;
            width: 4.2rem;
            border-radius: 0.4rem;
            border-color: rgb(77, 77, 77);
            border-style: solid;
    
            background-color: rgb(139, 255, 139);

            cursor: pointer;
        }
    
        .discard-pile {
            height: 6rem;
            width: 4.2rem;
            border-radius: 0.4rem;
            border-color: rgb(77, 77, 77);
            border-style: solid;
    
            background-color: rgb(255, 101, 101);
        }
    }
}

.uno-card {
    position: relative;
    height: 7rem;
    width: 5rem;
    min-width: 4rem;
    border-radius: 0.4rem;
    
    cursor: pointer;
    perspective: 1000px;
    margin-left: clamp(-4rem, -2.5rem, -2.8rem);

    &.drawer-deck-uno-card {
        position: absolute;
        height: inherit;
        width: inherit;
        margin-left: unset;
    }

    &.opponent-uno-card {
        height: 5.5rem;
        width: 4rem;
        min-width: 2.5rem;
    }

    .uno-card-container {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 0.4rem;
        border-color: rgb(77, 77, 77);
        border-style: solid;
        border-width: 2px;
        transition: transform 0.6s;
        transform-style: preserve-3d;

        animation: 1.2s 1s legal-card-blink infinite;

        .uno-card-front, .uno-card-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        
        .uno-card-front {
            background: red;
        }
        
        .uno-card-back {
            background: url(./../../assets/images/uno-back.jpeg);
            background-repeat: round;
            transform: rotateY(180deg);
        }
    }

    &:nth-child(1) {
        margin-left: 0rem;
    }

}

.cardsTrayDisabled {
    pointer-events: none;
}

// front-opponent-cards-tray
.front-opponent-cards-tray {
    position: absolute;
    top: 4vh;
    left: 4vw;
    margin-left: 7rem;
    right: 4vw;
    margin-right: 7rem;
    height: 5.5rem;
    min-height: 70px;
    max-height: 250px;
    // background-color: rgb(255, 123, 0);
    padding: 0.5rem;

    .opponent-name-container {
        position: absolute;
        left: calc(12rem);
        right: calc(12rem);
    }

    .front-opponent-cards-tray-container {
        width: 100%;
        height: 100%;
        display:inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    
        // background-color: rgb(0, 17, 255);
    }
}

.left-opponent-cards-tray {
    position: absolute;
    height: 5.5rem;
    min-height: 70px;
    max-height: 250px;
    
    left: calc(4vw + 5.5rem);
    bottom: calc(4vh + 11rem);
    
    transform-origin: bottom left;
    transform: rotateZ(-90deg);

    width: calc(100vh - 11vh - 11rem);
    background-color: rgb(255, 0, 149);
    padding: 0.5rem;

    .opponent-name-container {
        position: absolute;
        left: calc(6rem);
        right: calc(6rem);
    }

    .left-opponent-cards-tray-container {
        width: 100%;
        height: 100%;
        display:inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    
        background-color: rgb(29, 167, 98);
    }
}

.right-opponent-cards-tray {
    position: absolute;
    height: 5.5rem;
    min-height: 70px;
    max-height: 250px;
    
    right: calc(4vw + 5.5rem);
    bottom: calc(4vh + 11rem);
    
    transform-origin: bottom right;
    transform: rotateZ(90deg);

    width: calc(100vh - 11vh - 11rem);
    background-color: rgb(89, 0, 255);
    padding: 0.5rem;

    .opponent-name-container {
        position: absolute;
        left: calc(6rem);
        right: calc(6rem);
    }

    .right-opponent-cards-tray-container {
        width: 100%;
        height: 100%;
        display:inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    
        background-color: rgb(230, 190, 105);
    }
}

.opponent-name {
    bottom: -2rem;
    height: 1rem;
    color: white;
    padding-top: 5px;

    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, transparent, white, transparent) 1;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.options-button {
    position: absolute;
    bottom: 0px;
    right: 4.5vw;
    width: 2.7rem;
    height: 1.7rem;
    overflow: hidden;
    border-radius: 0.6rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: white;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    transition: 0.2s;
    
    &:hover {
        height: 2.5rem;

        mat-icon {
            font-weight: bold;
            height: 100%;
            animation: vertical 0.7s reverse infinite;
        }
    }
}

@keyframes legal-card-blink {
    50% { box-shadow: unset; }
}

@keyframes vertical {
    0% { transform: scale(1.5) translateY(0.2rem); }
    100% { transform: scale(1.5) translateY(1rem); }
}