<div class="dashboard" id="dashboard">
    <!-- <button 
      label="Discard First Card" 
      (click)="discardDrawerDeckCard()" 
      style="width: 150px; height: 30px">
      Discard First Card
    </button> -->
    <div class="draw-discard-deck">
      <div class="draw-discard-deck-container">
        <div class="drawer-deck" id="drawer-deck" (click)="addCard()">
          <div
            [@drawerDeckCardActivity]="{
              value: isDrawerDeckCardRevealed,
              params: { xDiscardPosition: destinationOfDiscardPileXPositionFromDrawerDeck() }
            }"
            class="uno-card">
            <div card class="uno-card-container"></div>
          </div>
        </div>
        <div class="discard-pile" id="discard-pile"></div>
      </div>
    </div>

    <!-- left-opponent-player -->
    <div class="left-opponent-cards-tray">
        <ng-container *ngIf="cards$ | async as freshCards">
            <div class="left-opponent-cards-tray-container"
            [@placeOpponentCards]="{value: leftOpponentCards.length}">
                <div
                    class="uno-card opponent-uno-card"
                    id="left-player-uno-card-{{i}}"
                    *ngFor="let card of leftOpponentCards; let i = index"
                    [@leftPlayerCardActivity]="{
                        value: card.state,
                        params: {
                            xDiscardPosition: destinationOfLeftPlayerDiscardPileXPosition(i),
                            yDiscardPosition: destinationOfLeftPlayerDiscardPileYPosition(i),
                            xOriginPosition: originOfLeftPlayerCardXPosition(i),
                            yOriginPosition: originOfLeftPlayerCardYPosition(i)
                        }
                    }"
                    (click)="leftPlayerCardClicked(i)">
                    <div card cardType="opponent" class="uno-card-container"></div>
                </div>
            </div>
        </ng-container>
    </div>

    <!-- front-opponent-player -->
    <div class="front-opponent-cards-tray" [ngClass]="{ 'cardsTrayDisabled': !isCardsTrayEnabled }">
      <ng-container *ngIf="cards$ | async as freshCards">
        <div class="front-opponent-cards-tray-container"
        [@placeOpponentCards]="{value: opponentCards.length}">
          <div
            class="uno-card opponent-uno-card"
            id="front-player-uno-card-{{i}}"
            *ngFor="let card of opponentCards; let i = index"
            [@frontPlayerCardActivity]="{
              value: card.state,
              params: {
                xDiscardPosition: destinationOfFrontPlayerDiscardPileXPosition(i),
                yDiscardPosition: destinationOfFrontPlayerDiscardPileYPosition(i),
                xOriginPosition: originOfFrontPlayerCardXPosition(i),
                yOriginPosition: originOfFrontPlayerCardYPosition()
              }
            }"
            (click)="frontPlayerCardClicked(i)">
            <div card cardType="opponent" class="uno-card-container"></div>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- right-opponent-player -->
    <div class="right-opponent-cards-tray">
        <div class="right-opponent-cards-tray-container"
            [@placeOpponentCards]="{value: leftOpponentCards.length}">
            <div
                class="uno-card opponent-uno-card"
                id="right-player-uno-card-{{i}}"
                *ngFor="let card of rightOpponentCards; let i = index"
                [@rightPlayerCardActivity]="{
                    value: card.state,
                    params: {
                        xDiscardPosition: destinationOfRightPlayerDiscardPileXPosition(i),
                        yDiscardPosition: destinationOfRightPlayerDiscardPileYPosition(i),
                        xOriginPosition: originOfRightPlayerCardXPosition(i),
                        yOriginPosition: originOfRightPlayerCardYPosition(i)
                    }
                }"
                (click)="rightPlayerCardClicked(i)">
                <div card cardType="opponent" class="uno-card-container"></div>
            </div>
        </div>
    </div>

    <!-- player -->
    <div class="player-cards-tray" [ngClass]="{ 'cardsTrayDisabled': !isCardsTrayEnabled }">
      <ng-container *ngIf="cards$ | async as freshCards">
        <div
          [@revealCards]="{value: freshCards.length}"
          (@revealCards.start)="toggleCardsTray(false)"
          (@revealCards.done)="toggleCardsTray(true)"
          class="player-cards-tray-container">
          <div
            class="uno-card"
            id="uno-card-{{i}}"
            *ngFor="let card of freshCards; let i = index"
            [@cardActivity]="{
              value: card.state,
              params: { 
                xDiscardPosition: destinationOfDiscardPileXPosition(i),
                yDiscardPosition: destinationOfDiscardPileYPosition(i),
                xOriginPosition: originOfCardXPosition(i),
                yOriginPosition: originOfCardYPosition()
              }
            }"
            (mouseenter)="cardHovering(i)"
            (mouseleave)="cardHovered(i)"
            (@cardActivity.start)="disableCardsTrayTemporarily($event)"
            (click)="cardClicked(i)">
            <div card class="uno-card-container"></div>
          </div>
        </div>
      </ng-container>
    </div>
</div>