<main>
    <div class="header">Join Room</div>
    <div class="body">
        <input 
            type="text"
            maxlength="20"
            placeholder="Enter room name"
            [formControl]="roomControl"
            [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let room of filteredRooms$ | async" [value]="room"
                (click)="select(room)" [disabled]="!room.isAvailable">
                {{ room.name }}
            </mat-option>
        </mat-autocomplete>
        <div class="error">
            <div 
                *ngIf="isDirty && isInvalid" 
                class="error-container">
                {{ errorMessage }}
            </div>
        </div>
    </div>
    <div class="footer">
        <div
            class="create" 
            (click)="joinRoom()"
            [ngClass]="{
                'disabled': isInvalid, 
                'active': !isInvalid
            }">
                Join
            </div>
        <div 
            class="close" 
            (click)="close()">
            Close
        </div>
    </div>
</main>