<main>
    <section>
        <div class="container">
            <div class="header">
                <div class="name">Hi {{ playerName }}</div>
                <mat-icon (click)="editPlayerName()">edit</mat-icon>
            </div>
            <div class="body">
                <div class="create-room" (click)="createRoom()">Create Room</div>
                <div class="join-room" (click)="joinRoom()">Join Room</div>
            </div>
            <div class="footer">
                <app-room [room]="room$ | async" [isGameStarted]="isGameStarted"></app-room>
            </div>
        </div>
    </section>
</main>