<div class="dashboard" id="dashboard">
  <div class="draw-discard-deck">
    <div class="draw-discard-deck-container">
      <div class="drawer-deck" id="drawer-deck"></div>
      <div class="discard-pile" id="discard-pile"></div>
    </div>
  </div>

  <div class="player-cards-tray" [ngClass]="{ 'cardsTrayDisabled': !isCardsTrayEnabled }">
    <div class="player-cards-tray-container">
      <ng-container *ngIf="cards$ | async as freshCards">
        <div *ngFor="let card of freshCards; let i = index"
          id="card-{{i}}" 
          card 
          class="card"
          [@addToDiscard]="{
            value: card.state, 
            params: { 
              xPosition: destinationOfDiscardPileXPosition(i),
              yPosition: -destinationOfDiscardPileYPosition(i)
            }
          }"
          (mouseenter)="cardHovering(i)"
          (mouseleave)="cardHovered(i)"
          (@addToDiscard.start)="disableCardsTrayTemporarily($event)"
          (click)="clickCard(i)">
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="uno-card">
  <div class="uno-card-container">
    <div class="uno-card-front" card>
      <!-- <img src="./../assets/images/uno.jpeg" alt="Front" style="width:300px;height:300px;"> -->
    </div>
    <div class="uno-card-back">
      <!-- <img src="./../assets/images/uno-back.jpeg" alt="Back" style="width:300px;height:300px;"> -->
    </div>
  </div>
</div>