<div class="dashboard">
  <div class="pile">
    <div class="pile-container">
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>

      <!-- <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>

      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>

      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>

      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>

      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>

      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>

      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div>
      <div card class="card"></div> -->
    </div>
  </div>
</div>