main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    width: 20vw;
    min-width: 180px;
    max-width: 250px;
    height: 100vh;
    overflow-y: auto;

    background-color: yellow;
}