<main>
    <section class="messages" #messages>
        <ng-container *ngIf="(messages$ | async) as chatMessages else noMessagesYet">
            <ng-container *ngFor="let chatMessage of chatMessages">
                <div class="message-container" 
                    [ngClass]="{ 'my-message': chatMessage.isSentByMe }">
                    <article class="message">
                        <div class="header">
                            <div class="name">{{ chatMessage.author.name }}</div>
                            <div class="time">{{ chatMessage.time | date:'shortTime' }}</div>
                        </div>
                        <div class="body">{{ chatMessage.content }}</div>
                    </article>
                </div>
            </ng-container>
        </ng-container>
        <ng-template #noMessagesYet>
            <div class="empty">No messages yet</div>
        </ng-template>
    </section>
    <section class="write">
        <input
            type="text" 
            minlength="1" 
            maxlength="100"
            placeholder="Type here..."
            [(ngModel)]="chat"
            [ngClass]="{ 'is-valid': isChatValid }"
            (keydown.enter)="sendChat()">
        <div>
            <mat-icon *ngIf="isChatValid" (click)="sendChat()">send</mat-icon>
        </div>
    </section>
</main>