<main class="dialog">
    <section class="header">
        <article class="connection">
            <div class="label">Network:</div>
            <div class="network">{{ networkType | uppercase }}</div>
        </article>
        <article class="full-screen" (click)="toggleFullScreen()">
            <mat-icon *ngIf="!isFullScreen">fullscreen</mat-icon>
            <mat-icon *ngIf="isFullScreen">fullscreen_exit</mat-icon>
        </article>
    </section>
    <section class="exit" (click)="close()">
        <div>I am done</div>
        <mat-icon>exit_to_app</mat-icon>
    </section>
    <section class="close" (click)="close()">
        <div>Close</div>
        <mat-icon>close</mat-icon>
    </section>
</main>