<main class="dialog">
    <section class="header">
        <article class="connection">
            <div class="label">Network:</div>
            <div class="network">{{ networkType | uppercase }}</div>
        </article>
        <article class="chat" (click)="toggleChat()">
            <mat-icon *ngIf="(unseenChatCount$ | async) != '0' else noUnseenMessages"
                [matBadge]="unseenChatCount$ | async" 
                matBadgeColor="warn"
                matBadgeSize="medium"
                [matBadgeHidden]="false">
                chat
            </mat-icon>
            <ng-template #noUnseenMessages>
                <mat-icon class="no-unseen-messages">chat</mat-icon>
            </ng-template>
        </article>
        <article class="full-screen" (click)="toggleFullScreen()">
            <mat-icon *ngIf="!isFullScreen">fullscreen</mat-icon>
            <mat-icon *ngIf="isFullScreen">fullscreen_exit</mat-icon>
        </article>
    </section>
    <section class="exit" (click)="exit()">
        <div>I am done</div>
        <mat-icon>exit_to_app</mat-icon>
    </section>
    <section class="close" (click)="close()">
        <div>Close</div>
        <mat-icon>close</mat-icon>
    </section>
</main>