<main>
    <div class="uno">
        <img src="./../../assets/images/uno-logo.svg" />
    </div>
    <div class="field">
        <div class="flex-field">
            <input [ngClass]="{ 'shrink-width': isNameValid }"
                type="text"
                placeholder="Hi Buddy. Your name?"
                maxlength="15"
                [formControl]="playerName"
                (keydown.enter)="goToLobby()">
            <div *ngIf="isPatternValid()" class="error">
                *{{ errorMessage }}
            </div>
        </div>
        <mat-icon 
            [@enterButton]="isNameValid"
            *ngIf="isNameValid" 
            (click)="goToLobby()">
            play_arrow
        </mat-icon>
    </div>
</main>