/* You can add global styles to this file, and also import other style files */

body {
    margin: 0; 
    padding: 0; 
    overflow: hidden;
    background: rgb(0,74,8);
    background: linear-gradient(10deg, rgba(0,74,8,1) 0%, rgba(24,212,0,1) 100%);
}

.choose-color-dialog {
    overflow: hidden;
    border-radius: 0.5rem;
}

.options-dialog {
    overflow: hidden;
    border-radius: 0.8rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
    .mat-dialog-container {
        // height main(22vh) + padding-vertical(1.6rem * 2) + 12px(smoothness)
        height: calc(22vh + 1.6rem * 2 + 12px);
        overflow: hidden;
        padding: 1.6rem;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        transition: 0.6s ; // optionsDialogIncomingOptionsConstant
        animation: 0.6s options-dialog-in ease-in-out; // optionsDialogIncomingOptionsConstant

        @keyframes options-dialog-in {
            0% {
                pointer-events: none;
            }
            50% { 
                height: calc(22vh + 1.6rem * 2 + 12px + 10vh);
                pointer-events: none;
            }
            100% { 
                height: calc(22vh + 1.6rem * 2 + 12px);
                pointer-events: none;
            }
        }
    }
}

.skip-tooltip {
    font-size: 1rem;
    font-family: 'Roboto', 'Poppins', monospace;
    background-color: transparent;
}

.alert-dialog {
    overflow: hidden;
    
    .mat-dialog-container {
        border-radius: 0.8rem;
        background: white;
    }
}

.skip-alert-dialog {
    overflow: hidden;
    
    .mat-dialog-container {
        background: transparent;
        box-shadow: none;
    }
}

.join-players-dialog {
    overflow: hidden;
    border-radius: 0.8rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
    .mat-dialog-container {
        height: 32vh;
        overflow: hidden;
        padding: 1.6rem;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        transition: 0.6s ; // optionsDialogIncomingOptionsConstant
        animation: 0.6s join-players-in ease-in-out; // optionsDialogIncomingOptionsConstant

        @keyframes join-players-in {
            0% {
                pointer-events: none;
            }
            50% { 
                height: calc(32vh + 10vh);
                pointer-events: none;
            }
            100% { 
                height: calc(32vh);
                pointer-events: none;
            }
        }
    }
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #0f0063;
}
