<main>
    <article>
        <section class="header">
            <div class="name">
                {{ room.name }}
            </div>
            <div class="status">
                {{ (room.status == roomStatuses.roomCreated) ? 'Room Created' : 'Room Joined' }}
            </div>
        </section>
        <section class="body"></section>
        <section class="footer">
            <div class="start-game">Start Game</div>
            <div class="leave-room">Leave Room</div>
        </section>
    </article>
</main>